@import "compass";
@import "compass/css3/user-interface";
@import "mixins";

.aui {
	/* ---------- List styles ---------- */

	.list-container .list-item {
		display: block;
		float: left;
		width: 25%;
		position: relative;
		overflow: hidden;

		h1, h2 {
			-ms-text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			display: inline-block;
			font-size: 20px;
			line-height: 1.2;
			margin: 0 0 3px;
			max-width: 95%;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: top;
			white-space: nowrap;
			width: 100%;
		}

		img {
			max-width: inherit;
  			width: 100%;
		}

		.list-text {
			@include transition(all 0.4s ease);

			background: rgba(0, 0, 0, 0.5);
			bottom: -50%;
			color: #FFF;
			display: block;
			left: 0;
			opacity: 0;
			padding: 20px;
			position: absolute;
			right: 0;
			text-align: center;
		}

		.margins {
			display: block;
		}

		&:hover .list-text, &.none .list-text {
			opacity: 1;
			bottom: 0
		}

		a {
			@include transition(all 0.2s ease);
		}

		&:hover a {
			@include transition(all 0.4s ease);

			background-position: right bottom;
			box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.5);
		}
	}

	/* ---------- carousel styles ---------- */
	.carousel-container {
		.carousel-item {
			img {
				max-width: inherit;
				width: 100%;
			}

			.carousel-text {
				background: rgba(0, 0, 0, 0.4);
				bottom: 20%;
				color: #FFF;
				padding: 10px 10% 20px;
				position: absolute;
				text-align: center;
				width: 80%;

				h1, h2, p, a {
					@include transition(all 0.2s ease);
					@include translate3d(0, 0, 0, 0);

					opacity: 0;
				}

				hr {
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
					border-top-width: 0;
					margin: 20px 30%;
					width: 40%;
				}
			}
		}

		.carousel-item.carousel-item-active .carousel-text {
			h1, h2, p, a {
				@include transition-delay(0.5s);

				opacity: 1;
			}
		}
	}

	.component.carousel {
		line-height: inherit;
		margin-bottom: 0;
		overflow: hidden;

		.carousel-item {
			width: 100%;
		}

		menu {
			background: transparent;
			bottom: 0;
			height: 10%;
			left: 0;
			padding: 0;
			text-align: center;
			width: 100%;

			li {
				display: inline-block;
				float: none;

				.carousel-menu-item {
					bottom: 20px;
				}

				.carousel-menu-prev, .carousel-menu-next {
					background: url(@theme_image_path@/carousel/prev.png) transparent no-repeat center;
					bottom: 300%;
					height: 50px;
					left: 50px;
					opacity: 0;
					position: absolute;
					width: 50px;

					@include transition(all 0.2s ease);
					@include translate3d(0, 0, 0, 0);

					&:hover {
						@include opacity(0.4);
						@include transition(all 0.2s ease);
						@include translate3d(0, 0, 0, 0);
					}
				}

				.carousel-menu-next {
					background-image: url(@theme_image_path@/carousel/next.png);
					left: inherit;
					right: 50px;
				}

				.carousel-menu-index {
					background: #FFF;
					margin: 3px;
					padding: 1px;

					&.carousel-menu-active {
						background: transparent;
						border: 2px solid #FFF;
						margin: 1px;
					}
				}

				.carousel-menu-pause {
					background-size: cover;
					border: 2px solid #FFF;
					display: none;
					height: 12px;
					margin: 0 7px;
					width: 12px;
				}
			}
		}

		&:hover {
			menu .carousel-menu-prev, .carousel-menu-next {
				opacity: 1;
			}
		}
	}
}

@include respond-to(phone, tablet) {
	.aui {
		.list-container .list-item {
			width: 50% !important;

			.list-text {
				@include rotate(0);
				bottom: 0
			}
		}
	}
}

@include respond-to(phone) {
	.aui {
		.list-container .list-item {
			width: 100% !important;
		}
	}
}